@import url(http://fonts.googleapis.com/earlyaccess/droidarabickufi.css);
@import url(http://fonts.googleapis.com/earlyaccess/amiri.css);
body{
font-family: 'tahoma', serif;
}
.sidebar-nav li{
font-family: 'tahoma', serif;
font-size: 10pt;
}